* {
    box-sizing: border-box;
}

.button_footer {
    float: right;


    width: 100%;
    height: 20%;

}

.header_note {
    width: 100%;
    height: 80%;

    overflow: scroll;
}

.header_note::-webkit-scrollbar {
    display: none;
}

.header_note_top {
    height: 30%;
    width: 80%;
    border-bottom: 1px solid black;
    margin: auto;
}

.header_note_bottom {
    height: 70%;
    width: 80%;

    margin: auto;
}