.container {
    margin: auto;
    margin-top: 5em;
    height: 20vh;
    width: 40vw;
    /* border: 1px solid black; */
   
}

.search_heading {
    color: rgb(214, 212, 212);
}

h3:where(.css-dev-only-do-not-override-12jzuas).ant-typography,
div:where(.css-dev-only-do-not-override-12jzuas).ant-typography-h3,
div:where(.css-dev-only-do-not-override-12jzuas).ant-typography-h3>textarea,
:where(.css-dev-only-do-not-override-12jzuas).ant-typography h3 {
    margin-bottom: 0.5em;
    color: rgba(231, 230, 230, 0.88);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3333333333333333;
}
